/* ======= COMMOND STYLES ======= */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

/* ======= HEADER STYLES ======= */
.menu {
  display: none;
}

.page-adress {
  display: none;
}

.page-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 24px;
}

.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .mobile-open-btn {
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
    stroke: #2f2f37;
  }

  .span-color-navy {
    color: #2e2f42;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    overflow-y: auto;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    transform: translateX(0%);
  }

  .mobile-menu-container {
    padding-top: 72px;
    padding-bottom: 40px;
    position: relative;
  }

  .mobile-menu-close-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    line-height: 0;
    border-radius: 100%;
    background-color: transparent;
    padding: 0;
    stroke: #2e2f42;
  }
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-list-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-menu-list-link-one {
  color: #404bbf;
}

.mobile-menu-list-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-close-btn-icon {
  fill: #2e2f42;
}

.mobile-menu-adress {
  margin-top: 168px;
}

.mobile-menu-adress-list-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-menu-adress-list-item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-menu-link-one {
  color: #4d5ae5;
}

.mobile-menu-social-list {
  display: flex;
  column-gap: 40px;
  padding-top: 48px;
  padding-bottom: 40px;
}

.mobile-menu-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.mobile-menu-social-list-link:hover,
.mobile-menu-social-list-link:focus {
  background-color: #31d0aa;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .mobile-open-btn {
    display: none;
  }

  .page-adress {
    display: flex;
    font-style: normal;
    padding-bottom: 16px;
  }

  .menu-adress-link {
    color: #434455;
  }

  .menu-adress-item {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .menu {
    display: flex;
    gap: 40px;
  }

  .menu-item {
    position: relative;
  }

  .span-color-navy {
    color: #2e2f42;
  }

  .page-navigation {
    display: flex;
    align-items: center;
    column-gap: 120px;
    margin-top: 24px;
  }

  .menu-adress {
    margin-top: 16px;
  }

  .menu-link {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 24px;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }

  .menu-adress-link:hover,
  .menu-adress-link:focus {
    color: #404bbf;
  }

  @media screen and (max-width: 1157px) {
    .page-header {
      padding-top: 0;
      padding-bottom: 0;
    }

    .page-navigatio {
      margin-left: 235px;
      margin-right: 121px;
    }
    .menu-adress-item:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

@media screen and (min-width: 1158px) {
  .page-header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .page-log {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
  }

  .menu-adress {
    display: flex;
    gap: 40px;
  }

  .menu-adress-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* ======= HERO STYLES ======= */

.page-hero {
  background-color: #2e2f42;
  max-width: 1440px;
  padding-top: 72px;
  padding-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-position: center;
  background-size: cover;
}

.hero-container {
  padding-left: 52px;
  padding-right: 52px;
}

.mine-title {
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 72px;
}

.order-service-btn {
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding-left: 104px;
    padding-right: 104px;
  }

  .page-hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .mine-title {
    font-weight: 700;
    max-width: 696px;
    min-width: 120px;
    height: 120px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    padding-bottom: 36px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-container {
    padding-left: 316px;
    padding-right: 316px;
  }

  .page-hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .mine-title {
    margin-bottom: 48px;
  }
}

/* ======= BENEFITS ======= */

.page-benefits-icon {
  display: none;
}

.page-benefits {
  padding-top: 96px;
  padding-bottom: 96px;
  margin-left: auto;
  margin-right: auto;
}

.subtitle {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.subtitle-benefits {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.info-benefits {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .subtitle {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    align-items: center;
  }

  .benefits {
    width: calc((100% - 48px) / 2);
  }

  .subtitle-benefits {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .page-benefits {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .subtitle {
    flex-wrap: nowrap;
  }

  .benefits {
    width: calc((100% - 72px) / 4);
  }

  .page-benefits-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    gap: 24px;
    margin-bottom: 8px;
  }

  .subtitle-benefits {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .info-benefits {
    font-weight: 400;
  }
}

/* ======= TEAM ======= */

.page-team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
  margin-right: auto;
  margin-bottom: auto;
}

.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.info-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
}

.person-page {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.name-container {
  padding-top: 32px;
  padding-bottom: 32px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name-person {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.person-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item {
  display: flex;
  width: 40px;
  height: 40px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .info-team {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }

  .person-page {
    width: calc ((100%-24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .page-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .person-page {
    width: calc(100% - 3 * 24px) / 4;
  }
}

/* ======= PORTFOLIO ======= */

.page-portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.title-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.subtitle-portfolio {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.info-portfolio:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.picture-portfolio {
  position: relative;
  overflow: hidden;
}

.text-portfolio-overlay {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  color: #f4f4fd;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-portfolio:active .text-portfolio-overlay {
  transform: translateY(0%);
}

.container-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.form-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.info-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .subtitle-portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .info-portfolio {
    width: calc((100%-24px) / 2);
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}

@media screen and (min-width: 1158px) {
  .subtitle-portfolio {
    row-gap: 48px;
  }

  .info-portfolio {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .info-portfolio:hover,
  .info-portfolio:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .info-portfolio:hover .text-portfolio-overlay,
  .info-portfolio:focus .text-portfolio-overlay {
    transform: translateY(0%);
  }
}

/* ======= FOOTER ======= */

.page-footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
  margin-left: auto;
  margin-right: auto;
}

.footer-container {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
  align-items: center;
}

.page-logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

.text-color-cloud {
  color: #f4f4fd;
}

.text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.title-icons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.list-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.link-list {
  display: flex;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-link:focus {
  background-color: #31d0aa;
}

.icons-subtitle-footer {
  fill: #f4f4fd;
}

.email-footer {
  margin-left: auto;
  margin-right: auto;
}

.form-footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  padding-left: 16px;
  outline: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  color: #ffffff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 16px;
}

.form-footer-input:focus {
  border-color: #4d5ae5;
}

.form-footer-input::placeholder {
  color: #ffffff;
}

.btn-subscribe-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: auto;
  margin-left: auto;
}

.btn-subscribe-footer:focus {
  background-color: #404bbf;
}

.btn-footer {
  margin-left: 16px;
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    column-gap: 24px;
  }

  .page-logo-footer {
    text-align: left;
  }
  .text-footer {
    width: 264px;
  }

  .email-footer {
    margin-left: 120px;
  }

  .second-review-form {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 24px;
  }

  .title-icons {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    flex-wrap: nowrap;
  }

  .footer-container-one {
    margin-right: 120px;
  }

  .icon-footer {
    margin-right: 80px;
  }

  .logo-link:hover {
    background-color: #31d0aa;
  }

  .email-footer {
    margin-left: auto;
  }

  .form-footer-input {
    opacity: 1;
  }

  .btn-subscribe-footer:hover {
    background-color: #404bbf;
  }
}

/*======= BACKDROP =======*/

.backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  padding: 72px 16px 24px 16px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  line-height: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  background-color: #e7e9fc;
  margin-bottom: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:focus > .modal-close-btn-icon {
  fill: #ffffff;
}

.review-form-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.review-form-field-wrapper {
  margin-bottom: 8px;
}
.review-form-field-lable {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.review-form-input {
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input:focus {
  border-color: #4d5ae5;
}

.review-form-field-wrapper {
  position: relative;
}

.review-form-field-icon {
  position: absolute;
  top: 65%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input:focus + .review-form-field-icon {
  fill: #4d5ae5;
}
.comment-review-form-field-wrapper {
  margin-bottom: 16px;
}
.review-form-message {
  outline: transparent;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background: #fcfcfc;
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-message:focus {
  border-color: #4d5ae5;
}
.review-form-message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.review-form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}
.review-form-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy-link {
  line-height: 1.33;
  text-decoration: underline;
  color: #4d5ae5;
}
.review-form-checkbox:checked
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.review-form-submit {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-submit:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .modal {
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
  }

  .modal-text-span {
    display: flex;
    align-items: baseline;
    gap: 8px;
  }
}
@media screen and (min-width: 1158px) {
  .review-form-submit:hover {
    background-color: #404bbf;
  }
  .modal-close-btn:hover {
    background-color: #404bbf;
    border: none;
  }
  .modal-close-btn:hover > .modal-close-btn-icon {
    fill: #ffffff;
  }
}
